<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">

        <a class="navbar-brand" routerLink="/">Panel de administración</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pt-1" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-1">
                    <button class="nav-link" (click)="logout()"><i class="fas fa-arrow-right-to-bracket me-2"></i> Cerrar sesión</button>
                </li>
            </ul>
        </div>
    </div>
</nav>