{% extends 'base.html.twig' %}

{% block title %}Panel administración{% endblock %}

{% block body %}
    {% include 'pages/panel/components/sidebar-panel.twig' %}

    <main id="main-content" class="flex-1 p-6 ml-0 sm:ml-64">
        {% include 'pages/panel/tabs/projects.twig' %}
        {% include 'pages/panel/tabs/users.twig' %}
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('panel') }}
{% endblock %}
