{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cubes') }}
{% endblock %}

{% block title %}Inicio{% endblock %}

{% block body %}
    {% include 'pages/home/components/navbar.twig' %}

    <main>
        {% include 'pages/home/components/cube-background.twig' %}
        <section id="proyectos">
            <h1 class="px-10 pt-20 pb-5 text-4xl font-bold text-black text-center">
                PROYECTOS
            </h1>
            <div class="max-w-7xl mx-auto p-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for project in projects|reverse %}
                    {% include 'pages/home/components/card-project.twig' with {
                        image: project.image,
                        title: project.title,
                        description: project.description,
                        url: project.url,
                        urlGithub: project.urlGithub
                    } %}
                {% endfor %}
            </div>
        </section>

        <div class="border-t my-10 border-gray-300 w-full"></div>

        <section id="contacto" class="text-center">
            <h1 class="px-10 pb-5 text-4xl font-bold text-black">
                CONTACTO
            </h1>
            {% include 'pages/home/components/social-box.twig' %}
        </section>
    </main>

    {% include 'pages/home/components/footer.twig' %}
{% endblock %}
