<div class="container bg-white shadow my-5" style="max-width: 700px; border-radius: 15px;">
    <form class="p-5">
        <h1 class="text-start mb-4 fs-2">Lista de projectos</h1>
        <div class="mb-3">
            <label for="text" class="form-label">Descripción</label>
            <textarea class="form-control" id="presentation-description" rows="7" maxlength="350"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-25 mt-4">Guardar</button>
    </form>
</div>