<div class="container p-5" style="background-color: rgba(255, 255, 255, 0.2); border-radius: 15px;">
    <div class="row">
        <div class="col m-2">
            <img src="/assets/img/photo.png" class="img-fluid rounded-circle mx-auto d-block" style="max-width: 290px;">
        </div>
        <div class="col mt-2">
            <h1>Ángel Moreno Muñoz</h1>
            <p class="fs-5">
                Desarrollador web fullstack con experiencia en la creación de aplicaciones web modernas y escalables. Me apasiona aprender nuevas tecnologías y mejorar mis habilidades constantemente.
            </p>
            <p class="fs-5">
                Me gusta trabajar en equipo y colaborar con otros desarrolladores para crear soluciones innovadoras. Siempre estoy buscando nuevos desafíos y oportunidades para crecer profesionalmente.
            </p>
        </div>
    </div>
</div>