<div id="inicio" class="hero d-flex justify-content-center align-items-center auto">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>

    <div class="absolute inset-0 flex justify-center items-center z-10">
        {% include 'components/presentation-box.twig' %}
    </div> 

    <a href="#proyectos" class="absolute bottom-8 left-1/2 transform -translate-x-1/2 z-20">
    <div class="animate-bounce text-gray-700 dark:text-white">
        {% include 'icons/down-arrow.svg.twig' %}
    </div>
</a>
</div>
