<!-- Pantallas grandes -->
<div class="hidden py-20 md:flex justify-center space-x-8">
    <div class="flex flex-col mx-8 items-center space-y-4 max-w-sm">
        <img class="rounded-t-lg w-60 max-h-30 object-cover" src="/images/arrow.png" alt="Imagen" />
        <p class="text-center text-lg text-black">
            Conecta conmigo para descubrir más proyectos, ideas y novedades sobre tecnología
        </p>
    </div>
    <div class="flex flex-col space-y-6 w-90">
        <a href="https://www.linkedin.com/in/angelmorenomunoz/" target="_blank" rel="noopener noreferrer" class="rounded-md inline-flex items-center justify-center px-4 py-2 bg-[#0077B5] hover:bg-[#005C82] focus:ring-[#66A9D1] text-white w-full">
            <i class="fab fa-linkedin w-5 h-5 me-2 mt-1"></i>
            LinkedIn
        </a>
        <a href="https://github.com/angeelmdev" target="_blank" rel="noopener noreferrer" class="rounded-md inline-flex items-center justify-center px-4 py-2 bg-[#333333] hover:bg-[#24292F] focus:ring-gray-500 text-white w-full">
            <i class="fab fa-github w-5 h-5 me-2 mt-1"></i>
            GitHub
        </a>
        <a href="mailto:anmorenomunoz@gmail.com" target="_blank" rel="noopener noreferrer" class="rounded-md inline-flex items-center justify-center px-4 py-2 bg-[#D44638] hover:bg-[#B23121] focus:ring-[#E57368] text-white w-full">
            <i class="fas fa-envelope w-5 h-5 me-2 mt-1"></i>
            Email
        </a>
    </div>
</div>

<!-- Pantallas pequeñas -->
<div class="flex flex-col pb-20 md:hidden items-center space-y-2 justify-center px-6">
    <p class="text-center text-lg text-black pb-5">
        Conecta conmigo para descubrir más proyectos, ideas y novedades sobre tecnología
    </p>

    <div class="flex flex-col space-y-4 w-full">
        <a href="https://www.linkedin.com/in/angelmorenomunoz" target="_blank" rel="noopener noreferrer" class="rounded-md inline-flex items-center px-3 py-2 bg-[#0077B5] hover:bg-[#005C82] focus:ring-[#66A9D1] text-white justify-center">
            <i class="fab fa-linkedin w-4 h-4 me-2 mt-0.1"></i>
            LinkedIn
        </a>
        <a href="https://github.com/angeelmdev" target="_blank" rel="noopener noreferrer" class="rounded-md inline-flex items-center px-3 py-2 bg-[#333333] hover:bg-[#24292F] focus:ring-gray-500 text-white justify-center">
            <i class="fab fa-github w-4 h-4 me-2 mt-0.1"></i>
            GitHub
        </a>
        <a href="mailto:anmorenomunoz@gmail.com" target="_blank" rel="noopener noreferrer" class="rounded-md inline-flex items-center px-3 py-2 bg-[#D44638] hover:bg-[#B23121] focus:ring-[#E57368] text-white justify-center">
            <i class="fas fa-envelope w-4 h-4 me-2 mt-0.1"></i>
            Email
        </a>
    </div>
</div>
