<div id="proyectos" class="tab-panel">
    <div class="ps-10">
        <h2 class="pt-5 pb-10 text-3xl font-bold text-black">PROYECTOS</h2>
        
        {% include 'components/modal-project.twig' %}
        
        <div class="max-w-7xl mx-auto pt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for project in projects|reverse %}
                {% include 'components/card-project-panel.twig' with {
                    image: project.image,
                    title: project.title,
                    description: project.description,
                    url: project.url,
                    urlGithub: project.urlGithub
                } %}
            {% endfor %}
        </div>
    </div>

</div>
