<div id="usuarios" class="tab-panel hidden">
    <h2 class="px-10 pt-20 pb-5 text-2xl font-bold text-black text-center">USUARIOS</h2>
    <p class="px-10 text-center">Aquí va el contenido de usuarios...</p>
</div>
